name: stockfish_example
description: Demonstrates how to use the stockfish plugin.
publish_to: "none"

version: 0.0.1+1

environment:
  sdk: ">=3.2.0 <4.0.0" 

dependencies:
  flutter:
    sdk: flutter
  logging: ^1.2.0
  chess: ^0.8.1
  web: ^1.0.0 
  
  stockfish:
    path: ../
  flutter_svg: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^3.0.0 

flutter:
  uses-material-design: true
  assets:
    - assets/stockfish.js
    - assets/pieces/